--swiftversion 5.10
--indent 4
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--commas inline
--self remove
--stripunusedargs closure-only
--header ignore
--exclude build,dist,.build
